@import url(../index.css);

.navbar {
  background-color: var(--background-blue);
  padding: 0px;
  width: 100%;
}

.navbar-brand {
  width: 30%;
}

.navbar img {
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.navbar span {
  color: var(--text-yellow);
}

.nav-links {
  width: 100%;
  gap: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  color: var(--text-yellow);
}

.nav-links a:hover {
  color: white;
}

.navbar-nav h2 {
  color: var(--text-yellow);
}

.navbar ul {
  background-color: var(--background-blue);
  border: 1px solid white;
}

.navbar ul a:hover {
  color: var(--yellow);
  background-color: transparent;
}

.search-btn {
  color: var(--text-yellow);
  border-color: var(--text-yellow);
}
.search-btn:hover {
  background-color: var(--text-yellow);
}

#user-image {
  height: 2rem;
  border-radius: 5px;
  margin-left: 1rem;
}
