@import url(../index.css);

.navbar {
    background-color: var(--background-blue);
    padding: 0px;
}

.navbar img {
    height: 100px;
    margin: 0px;
    padding: 0px;
}

.navbar span {
    color: var(--text-yellow);
}

.nav-links a {
    color: var(--text-yellow);
}

.nav-links a:hover{
    color: white;
}