@import url(../index.css);

.signup-page {
     margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: var(--bg-image);
    background-size: cover;
    background-position: center;
}

.signup-form-container{
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    background-color: var(--background-blue);
    color: var(--text-yellow);
    border: 2px solid white;
    border-radius: 15px;
    height: 25rem;

}
.signup-form-container input{
    height: 40px;
}